<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">

    {% load static %}

    <!--    Load the bootstraps tag library-->
    {% load bootstrap5 %}
    <!--    Load CSS and JavaScript-->
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <!--    Display django.contrib.messages as Bootstrap alerts-->
    {% bootstrap_messages %}

    {% load fontawesome_5 %}
    {% fontawesome_5_static %}

    <link rel="stylesheet" type="text/css" href="{% static 'meditation/css/style.css' %}">

    <script src="{% static 'meditation/js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'meditation/js/lodash.js' %}"></script>
    <script src="{% static 'meditation/js/bootstrap_4.3.1.js' %} "></script>

    {% block scripts %}
        {# Extends scrips here#}
    {% endblock scripts %}

    <link rel="apple-touch-icon-precomposed" sizes="57x57"
          href="{% static 'meditation/images/favicon/apple-touch-icon-57x57.png' %}"/>
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
          href="{% static 'meditation/images/favicon/apple-touch-icon-114x114.png' %}"/>
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
          href="{% static 'meditation/images/favicon/apple-touch-icon-72x72.png' %}"/>
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
          href="{% static 'meditation/images/favicon/apple-touch-icon-144x144.png' %}"/>
    <link rel="apple-touch-icon-precomposed" sizes="60x60"
          href="{% static 'meditation/images/favicon/apple-touch-icon-60x60.png' %}"/>
    <link rel="apple-touch-icon-precomposed" sizes="120x120"
          href="{% static 'meditation/images/favicon/apple-touch-icon-120x120.png' %}"/>
    <link rel="apple-touch-icon-precomposed" sizes="76x76"
          href="{% static 'meditation/images/favicon/apple-touch-icon-76x76.png' %}"/>
    <link rel="apple-touch-icon-precomposed" sizes="152x152"
          href="{% static 'meditation/images/favicon/apple-touch-icon-152x152.png' %}"/>
    <link rel="icon" type="image/png" href="{% static 'meditation/images/favicon/favicon-196x196.png' %}"
          sizes="196x196"/>
    <link rel="icon" type="image/png" href="{% static 'meditation/images/favicon/favicon-96x96.png' %}" sizes="96x96"/>
    <link rel="icon" type="image/png" href="{% static 'meditation/images/favicon/favicon-32x32.png' %}" sizes="32x32"/>
    <link rel="icon" type="image/png" href="{% static 'meditation/images/favicon/favicon-16x16.png' %}" sizes="16x16"/>
    <link rel="icon" type="image/png" href="{% static 'meditation/images/favicon/favicon-128.png' %}" sizes="128x128"/>
    <meta name="application-name" content="&nbsp;"/>
    <meta name="msapplication-TileColor" content="#FFFFFF"/>
    <meta name="msapplication-TileImage" content="{% static 'meditation/images/favicon/mstile-144x144.png' %}"/>
    <meta name="msapplication-square70x70logo" content="{% static 'meditation/images/favicon/mstile-70x70.png' %}"/>
    <meta name="msapplication-square150x150logo" content="{% static 'meditation/images/favicon/mstile-150x150.png' %}"/>
    <meta name="msapplication-wide310x150logo" content="{% static 'meditation/images/favicon/mstile-310x150.png' %}"/>
    <meta name="msapplication-square310x310logo" content="{% static 'meditation/images/favicon/mstile-310x310.png' %}"/>

    <!--    ADS-->
    <!--    <script data-ad-client="ca-pub-4295986455525117" async-->
    <!--            src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>-->


    <link id="theme-style" rel="stylesheet" type="text/css">


    {% block title %}
        {# Extends SEO here#}
    {% endblock title %}
    <!--    For SEO-->
    {% block seo %}
        {# Extends SEO here#}
    {% endblock seo %}

</head>
<body>
{% block content %}
    <!--    Content will goes here-->
{% endblock content %}
</body>
</html>