{% extends 'meditation/base/main.html' %}
{% load static %}
{% block title %}
    <title>Chào mừng bạn đến với Thiền Định Online - Website được phát triển bởi Thiền Định TV Channel | Chúc bạn một
        ngày tốt
        lành và có những giây phút Thư giãn | Meditation TV - build your mind, train your soul, improve your feeling,
        make your healthy body, and create your peaceful world.</title>
{% endblock title %}
{% block seo %}
    <meta property="og:title" content="Chào mừng bạn đến với Thiền Định Online">
    <meta property="og:type" content="article">
    <meta property="fb:app_id" content="590976625197762">
    <meta property="og:url" content="http://www.thiendinh-online.com">
    <meta property="og:description" content="Bài tập hơi thở - Thiền định - Con người - Sức khỏe">
    <meta property="og:image"
          content="https://meditation-web-app.s3-ap-southeast-1.amazonaws.com/meditation-images/share-main-page.PNG">
{% endblock seo %}
{% block scripts %}
    <script src="{% static 'meditation/js/app.js' %}"></script>

    <script>
        const static_url = "{% get_static_prefix %}";
        const media_url = "{% get_media_prefix %}";
        let songs = [], sounds = [], themes = [], breaths = [];
    </script>

{% endblock scripts %}

{% block content %}

    {% include 'meditation/elements/player.html' %}

    {% include 'meditation/elements/home-tabs.html' %}

    <div class="content">

        <div class="tab-content">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                {% include 'meditation/tabs/home.html' %}
            </div>

            <div class="tab-pane fade" id="meditation" role="tabpanel" aria-labelledby="meditation-tab">
                {% include 'meditation/tabs/meditation.html' %}
            </div>

            <div class="tab-pane fade" id="benefit" role="tabpanel" aria-labelledby="benefit-tab">
                {% include 'meditation/tabs/benefit.html' %}
            </div>

            <div class="tab-pane fade" id="breath" role="tabpanel" aria-labelledby="breath-tab">
                {% include 'meditation/tabs/breath.html' %}
            </div>

            <div class="tab-pane fade" id="question" role="tabpanel" aria-labelledby="question-tab">
                {% include 'meditation/tabs/question.html' %}
            </div>


        </div>

        {% include 'meditation/elements/like-home.html' %}

        {% include 'meditation/elements/post-element.html' %}

        {% include 'meditation/elements/home-comment.html' %}

    </div>

    {% include 'meditation/elements/footer.html' %}

{% endblock content %}