{% extends 'meditation/base/main.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'meditation/css/posts.css' %}">
{% endblock style %}

{% block content %}

    {% include 'meditation/posts/post-grid.html' %}

    {% include 'meditation/elements/home-comment.html' %}

    {% include 'meditation/elements/footer.html' %}

    <script type="text/javascript">
        let searchForm = document.getElementById('search-form')
        let pageLinks = document.getElementsByClassName('page-link')

        for (var i = 0; pageLinks.length > i; i++) {

            pageLinks[i].addEventListener('click', function (e) {
                e.preventDefault()
                let page = this.dataset.page
                searchForm.innerHTML += `<input value="${page}" name="page" hidden >`
                searchForm.submit()
            })

        }
    </script>

{% endblock content %}