<section>
    <div class="main-container">
        <h4>Lợi ích từ tập luyện</h4>
        <div class="benefit-wrapper">
            <div class="benefit-left">
                <p>Cải thiện tuần hoàn não, giảm triệu chứng đau nửa đầu. </p>
                <p>Tăng cường trí nhớ. </p>
                <p>Phát triển kỹ năng tập trung. </p>
                <p>Tăng sức đề kháng, giảm căng thẳng. </p>
                <p>Hoạt bát trong cả ngày. </p>
                <p>Giảm lo lắng trước các sự kiện quan trọng (nói trước công chúng, thi cử ...). </p>
                <p>Cải thiện tâm trạng và các cảm xúc nói chung. </p>
                <p>Thư giãn sau một ngày vất vả, mệt mỏi. </p>
                <p>Tăng cường chất lượng giấc ngủ. </p>
            </div>
            <div class="benefit-right">
                <p>Giảm buồn ngủ. </p>
                <p>Tăng thể tích cho phổi, từ đó cải thiện giọng nói. </p>
                <p>Giảm tần suất và cường độ của các cơn hen suyễn. </p>
                <p>Tăng sức chịu đựng thể chất. </p>
                <p>Giảm tần suất bệnh viêm mũi, họng. </p>
                <p>Kích thích miễn dịch mô. </p>
                <p>Kỹ năng tập thể dục thường xuyên và phát triển kỷ luật, tự giác. </p>
                <p>Giảm sự thèm ăn quá mức, từ đó điều chỉnh cân nặng. </p>
            </div>
        </div>
        <hr>
        <h4>Nghiên cứu khoa học</h4>
        <div class="sicence">
            <p>Những lợi ích được mô tả ở trên không chỉ theo kinh nghiệm, mà còn được chứng minh một
                cách
                khoa học. Tìm hiểu thêm <a href="https://en.wikipedia.org/wiki/Diaphragmatic_breathing">Diaphragmatic
                    breathing</a> và <a
                        href="https://en.wikipedia.org/wiki/Pranayama">Pranayama</a>.</p>
        </div>
        <hr>
    </div>
</section>