<section>
    <div class="main-container">
        <h4>Bài tập thở</h4>
        <div class="benefit-wrapper">
            <div class="benefit-left">
                <h5>Làm sạch tâm trí</h5>
                <p>Kích thích não bộ để tìm kiếm giải pháp và sáng kiến, kích thích sáng tạo.</p>
                <h5>Thư giãn</h5>
                <p>Làm giảm căng thẳng thần kinh và thể chất, giúp chuyển sang trạng thái nghỉ ngơi
                    .</p>
                <h5>Nguôi giận </h5>
                <p>Cân bằng cảm xúc mạnh mẽ, cho phép kiểm soát cảm xúc.</p>
            </div>
            <div class="benefit-right">
                <h5>Năng lượng</h5>
                <p>Huy động các nguồn lực cơ thể, thúc đẩy sự chú ý tập trung vào những vấn đề quan
                    trọng.</p>
                <h5>Hòa hợp tinh thần</h5>
                <p>Hài hòa các tâm lý cảm xúc, mang lại cảm giác toàn vẹn.</p>

            </div>
        </div>

        <hr>
        <h4>Lưu ý</h4>
        <div class="benefit-wrapper">
            <p>Không áp dụng để chữa bệnh, quá trình viêm nhiễm nặng, bệnh tâm thần và rối loạn.</p>
            <p>Nghiêm cấm nín thở với các trường hợp có xu hướng tăng huyết áp.</p>
            <p>Trong trường hợp có bất kỳ bệnh mãn tính xin vui lòng tham khảo ý kiến bác sĩ của
                bạn.</p>
        </div>
        <hr>
    </div>
</section>