<section>
    <div class="main-container">
        <h4>Thiền</h4>

        <div class="greeting-wrapper">
            <p>Thiền là một phương pháp thực hành mà một cá nhân sử dụng một kỹ thuật
                - chẳng hạn như chánh niệm, hoặc tập trung tâm trí vào một đối tượng, suy nghĩ hoặc hoạt
                động cụ thể - để rèn luyện sự chú ý và nhận thức, đồng thời đạt được trạng thái tinh
                thần minh mẫn và cảm xúc bình tĩnh và ổn định. Thiền có thể làm giảm đáng kể căng thẳng,
                lo lắng, trầm cảm và đau đớn, và tăng cường hòa bình, nhận thức,
                quan niệm về bản thân và hạnh phúc.</p>

            <p>Chánh niệm là việc thực hành cố ý tập trung vào khoảnh khắc hiện tại mà không phán xét,
                một kỹ năng mà người ta phát triển thông qua thiền định hoặc
                các khóa đào tạo khác.</p>

            <p>
                Chú ý là quá trình hành vi và nhận thức tập trung có chọn lọc vào một khía cạnh rời rạc
                của thông tin, dù được coi là chủ quan hay khách quan, trong khi bỏ qua những thông tin
                có thể nhận thức khác.
            </p>

            <p>Nhận thức là trạng thái có ý thức về một cái gì đó. Cụ thể hơn, đó là khả năng trực tiếp
                biết và nhận thức, cảm nhận hoặc nhận thức được các sự kiện.</p>

            <p>Ý thức, nói một cách đơn giản nhất, là sự gửi gắm hay nhận thức về sự tồn tại bên trong
                và bên ngoài.</p>

            <h5>Bản chất sinh học, hóa học của thiền:</h5>
            <p>Cơ thể người vận hành được là do sử dụng phần lớn năng lượng của việc hít thở liên tục và
                tiêu hóa thức ăn qua việc ăn uống theo chu kỳ.</p>

            <p>Cơ thể người tiêu tốn năng lượng vào việc vận hành hoạt động cơ thể như di chuyển, vận
                động và các hoạt động bên trong cơ thể như suy nghĩ, thể hiện cảm xúc, ổn định thân
                nhiệt, cân bằng môi
                trường bên trong, và duy trì phản xạ theo bản năng, bản chất của quá trình này là việc
                phân giải hoặc tổng hợp, chuyển
                hóa hay biến đổi các chất hóa học mà cơ thể cần xử lý để giúp cơ thể vận hành.</p>
            <p>Cơ thể luôn tái tạo những tế bào mới theo thời gian theo chu kỳ, và tế bào là đơn vị
                sự sống nhỏ nhất trong cơ thể có hoạt động trao đổi chất và tổng hợp năng lượng.</p>

            <p>Năng lượng đến từ việc tiêu hóa được sử dụng chính cho các hoạt động thể chất tức thì cần
                tiêu tốn nhiều
                năng lượng như lao động hay vận động di chuyển. Năng lượng từ việc hít thở được sử dụng chính cho hoạt
                động duy trì sự sống vốn có của cơ
                thể.</p>

            <p>Hành thiền cơ bản là phương pháp kiểm soát năng lượng hít thở và kiểm soát năng lượng
                tiêu hao từ suy nghĩ, nhận biết, phản xạ, thể hiện cảm xúc trong khi
                hạn chế cơ thể vận động để huấn luyện một nhóm tế bào (mới và cũ) hoặc toàn bộ cơ thể sử
                dụng mức
                năng lượng tối ưu duy trì sự sống (trao đổi chất và tổng hợp năng lượng) từ đó giúp
                cơ thể vận hành tốn ít năng lượng hơn.</p>

        </div>

    </div>
</section>