<section class="s1">
    <div class="main-container">

        <h4>Hỏi đáp</h4>
        <div class="benefit-wrapper">
            <div class="benefit-left">
                <h5>Đâu là nơi tốt nhất để tập thở?</h5>
                <p>Tốt nhất là bên ngoài nhà, hoặc ít nhất là mở cửa sổ trong nhà. Rừng, công viên hoặc
                    vườn nhà là những lựa chọn tốt nhất.</p>
                <h5>Nên tập thở khi nào là tốt?</h5>
                <p>Khuyến khích tập thở không sớm hơn 2 tiếng sau bữa ăn, hoặc khi dạ dày đang rỗng.</p>
                <h5>Chọn tư thế nào cho việc tập thở? </h5>
                <p>Bất kỳ tư thế thẳng lưng nào cũng có tác dụng: ngồi trên ghế, quỳ gối, tư thế "nửa
                    hoa sen" hoặc "hoa sen (kiết già)" thậm chí là nằm xuống. Đứng cũng ổn, nhưng đứng
                    sẽ làm giảm hiệu quả luyện tập, vì bạn sẽ tốn nhiều năng lượn hơn để duy trì tư thế
                    đứng thẳng.</p>
                <h5>Làm thế nào để luyện tập hiệu quả? </h5>
                <p>Để có kết quả tốt nhất, hãy chọn một hoặc hai mẫu tập thở rồi thực hành các mẫu đó
                    thường xuyên, ít nhất 15 phút mỗi ngày. Thỉnh thoảng bạn có thể sử dụng các mẫu
                    khác, nếu bạn muốn thấy cụ thể hiệu quả của việc tập luyện, không nên thay đổi các
                    bài tập quá thường xuyên. Khi nào thông qua các bài tập thở cơ bản, bạn thấy kết quả
                    phù hợp với mình, thì bạn có thể thay đổi bài tập thở.</p>
                <h5>Có thể kết hợp tập thở với những môn khác?</h5>
                <p>Có, nếu môn đó không bao gồm nỗ lực thể chất và không can thiệp vào các kỹ thuật thở
                    đúng cách. Hiệu quả nhất là khi bạn nhắm mắt lại và tập trung
                    vào quá trình hít thở.</p>

                <h5>Làm thế nào để kết hợp tập thở với thể thao và các hoạt động thể chất khác?</h5>
                <p>Về thể thao và các hoạt động thể chất khác, bạn phải đảm bảo duy trì thời gian nghỉ
                    để khôi phục nhịp thở và nhịp tim.</p>

                <h5>Bạn có thể tập thở trong bao lâu?</h5>
                <p>Thời gian được khuyến khích cho người mới bắt đầu là 7 phút. Bạn có thể thay đổi thời
                    gian tập nhưng không nên tập quá 15 phút liên tục. Nếu tập ít hơn 3 phút thì bạn
                    không nên mong đợi đạt được bất kỳ kết quả quan trọng nào.</p>

            </div>
            <div class="benefit-right">
                <h5>Làm thế nào để có một hơi thở thích hợp?</h5>
                <p>Quá trình hít phải gồm ba giai đoạn sau:</p>
                <p>1. Đầu tiên, lấp đầy phần dưới cùng của phổi bằng không khí. Điều này làm cho bụng
                    của bạn mở rộng nhưng ngực vẫn cố định.</p>
                <p>2. Sau đó hít vào phần giữa. Các lồng xương sườn mở rộng.</p>
                <p>3. Cuối cùng, lấp đầy phần trên của phổi bằng không khí. Xương đòn nở lên.</p>
                <h5>Làm thế nào để giữ lại không khí?</h5>
                <p>Trước khi giữ lại không khí, hãy lấp đầy phổi bằng không khí khoảng 80-90 phần trăm
                    để tránh bị chóng mặt. Nếu cần thiết hãy bịt mũi lại bằng ngón tay của bạn.</p>
                <h5>Làm thế nào để thở ra đúng cách</h5>
                <p>Thở ra được thực hiện ngược so với hít. Đó là, đầu tiên giải phóng phần không khí
                    trên của phổi, sau đó là ở giữa và cuối cùng là ở dưới, hãy co thắt bụng của bạn
                    lại.</p>
                <h5>Làm thế nào để duy trì không khí?</h5>
                <p>Giữ lại không khí tương đương quá trình thở ra bình thường của bạn, đó là 10-15 phần
                    trăm thể tích phổi. Vào giây cuối cùng thì nhanh chóng thở ra phần còn lại này.</p>
                <h5>Thở bằng mũi hay bằng miệng tốt hơn?</h5>
                <p>Hít vào được thực hiện qua mũi, thở ra thì bạn có thể sử dụng cả mũi và miệng. Khi
                    thở ra bằng miệng thì khuyến khích nên mím nhẹ môi lại.</p>
                <h5>Chu kỳ nghỉ là gì?</h5>
                <p>Chu kỳ nghỉ là chu kỳ không phải giai đoạn đang thở ra hay hít vào, và được sử dụng
                    để khôi phục hơi thở của bạn và để thiền.</p>
            </div>
        </div>
        <hr>
    </div>
</section>