{% load static %}
<div class="footer-wrapper footer">
    <div>
        <h4>Chính sách và quyền lợi</h4>
        <hr>
        <p><a href="http://thiendinh-online.com/post/gioi-thieu-thien-inh-online/">Giới thiệu thiendinh-online.com</a></p>
        <p><a href="http://thiendinh-online.com/post/quyen-rieng-tu-chinh-sach-va-bao-mat/">Chính sách và quyền riêng tư</a></p>

    </div>
    <div>
        <h4>Thông tin liên hệ và liên kết</h4>
        <hr>
        <p>Email: thiendinhonline@gmail.com</p>
        <p> <h5>Liên kết xã hội</h5></p>
        <div>
            <img class="social-img social-img-facebook"
                 src="{% static 'meditation/images/facebook.svg' %}">
            <img class="social-img social-img-youtube"
                 src="{% static 'meditation/images/youtube.svg' %}">
        </div>
    </div>
    <div>
        <h4>Thông tin</h4>
        <hr>
        <p><h5>Thông báo cho bạn bài viết mới qua Email</h5></p>
        <p><h5>Website được phát triển bởi Thiền Định TV Channel</h5></p>
        <p><h5>&copy; 2021 Thiền Định TV Channel</h5></p>
    </div>
</div>