<div id="nav-container" class="nav-container-active">
    <ul class="nav nav-pills justify-content-center nav-fill" id="my-tab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
               aria-controls="home"
               aria-selected="true">Trang chủ</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="meditation-tab" data-toggle="tab" href="#meditation" role="tab"
               aria-controls="meditation"
               aria-selected="false">Thiền</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="benefit-tab" data-toggle="tab" href="#benefit" role="tab"
               aria-controls="benefit"
               aria-selected="false">Lợi ích từ tập luyện</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="breath-tab" data-toggle="tab" href="#breath" role="tab"
               aria-controls="breath"
               aria-selected="false">Bài tập thở</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="question-tab" data-toggle="tab" href="#question" role="tab"
               aria-controls="question"
               aria-selected="false">Hỏi đáp</a>
        </li>
    </ul>
</div>