{% load static %}
<section>
    <div class="header-play">
        <div class="header">
            <img class="branding-img" src="{% static 'meditation/images/branding-image.svg' %}">
            <img class="social-img social-img-facebook" src="{% static 'meditation/images/facebook.svg' %}">
            <img class="social-img social-img-youtube" src="{% static 'meditation/images/youtube.svg' %}">
        </div>

        <div class="left-panel">
            <div class="music-tab">
                <h5 class="truncate">Âm nhạc</h5>
            </div>
            <div class="music-list">
                {% if data %}
                    <div class="list-group">

                        {% for song in data.songs %}
                            <a id="{{ forloop.counter }}" class="list-group-item list-group-item-action music-list-item"
                               aria-current="true">
                                <div class="d-flex w-100 justify-content-between">
                                    <h6 class="mb-1 truncate">{{ song.name }}</h6>
                                    <h6 class="truncate">{{ song.length_text }}</h6>
                                </div>
                                <h6 class="mb-1 truncate">{{ song.artis }}</h6>
                                <script>
                                    songs.push({
                                        name: "{{song.name}}",
                                        source: "{{ song.source }}",
                                        length: "{{ song.length_text }}",
                                        artist: "{{ song.artis }}",
                                        image: "meditation/images/thumbnail-player.jpg"
                                    })
                                </script>
                            </a>
                        {% endfor %}

                    </div>

                {% else %}
                    <p>No songs are available.</p>
                {% endif %}
            </div>
            <div class="player">
                <!-- Define the section for displaying details -->
                <div class="player-header">
                    <div class="track-art"></div>
                    <div>
                        <h6 class="track-name truncate">Track Name</h6>
                        <h6 class="track-artist truncate">Track Artist</h6>
                    </div>
                </div>

                <!-- Define the section for displaying track buttons -->
                <div class="buttons">
                    <div class="prev-track player-btn">
                        <i class="fa fa-step-backward"></i>
                    </div>
                    <div class="playpause-track player-btn">
                        <i class="fa fa-play-circle fa-2x"></i>
                    </div>
                    <div class="next-track player-btn">
                        <i class="fa fa-step-forward"></i>
                    </div>
                </div>

                <!-- Define the section for displaying the seek slider-->
                <div class="slider_container">

                    <div class="time-play-wrap">
                        <h6 class="current-time">00:00</h6>
                    </div>
                    <input class="seek_slider" type="range" min="1" max="100"
                           value="0">
                    <div class="time-play-wrap">
                        <h6 class="total-duration">00:00</h6>
                    </div>
                </div>

                <!-- Define the section for displaying the volume slider-->
                <div class="slider_container">
                    <i class="fa fa-volume-down fa-1x"></i>
                    <input type="range" min="1" max="100"
                           value="100" class="volume_slider">
                    <i class="fa fa-volume-up fa-1x"></i>
                </div>
            </div>
        </div>

        <div class="right-panel">
            <div class="top-right-panel">
            </div>
            <div class="bottom-right-panel">
                <div class="sound-tab">
                    <h5 class="truncate">Âm thanh nền</h5>
                </div>
                <div class="sound-list">
                    {% if data %}
                        <div class="list-group">
                            {% for sound in data.sounds %}
                                <a class="list-group-item list-group-item-action sound-list-item "
                                   aria-current="true">
                                    <div id="sound_{{ forloop.counter }}"
                                         class="d-flex w-100 justify-content-between sound-name-item">
                                        <h6 class="mb-1 truncate">{{ sound.name }}</h6>
                                    </div>
                                    <div class="slider_container sound_slider_container hide slider_sound_div_{{ forloop.counter }}">
                                        <i class="fa fa-volume-down fa-1x"></i>
                                        <input type="range" min="1" max="100"
                                               value="100" class="sound_volume_slider ">
                                        <i class="fa fa-volume-up fa-1x"></i>
                                    </div>
                                    <script>
                                        sounds.push({
                                            name: "{{sound.name}}",
                                            source: "{{ sound.source }}",
                                        })
                                    </script>
                                </a>
                            {% endfor %}
                        </div>

                    {% else %}
                        <p>No sounds are available.</p>
                    {% endif %}
                </div>

            </div>
        </div>


        <div class="mid-panel">
            <div class="top-mid-panel">
            </div>
            <div class="breath-panel">
                <h5 class="truncate text_breath_num">05</h5>
                <h5 class="truncate text_breath_title">Chuẩn bị</h5>

                <div class="progress">
                    <div class="progress-bar bg-hold progress-hold-in" role="progressbar" style="width: 30%"
                         aria-valuenow="30"
                         aria-valuemin="0"
                         aria-valuemax="100"></div>
                    <div class="progress-bar progress-breath" role="progressbar" style="width: 40%" aria-valuenow="40"
                         aria-valuemin="0" aria-valuemax="100"></div>
                    <div class="progress-bar bg-hold progress-hold-out" role="progressbar" style="width: 30%"
                         aria-valuenow="30"
                         aria-valuemin="0"
                         aria-valuemax="100"></div>
                </div>

            </div>
        </div>
    </div>
</section>